<footer id="page-footer">

	<div class="container">

		<div class="row">
			
			<div class="col-sm-4 col-sm-push-8">
				<ul class="list-inline text-center">
					<li><a href="">Terms</a></li>
					<li><a href="">Privacy</a></li>
					<li><a href="">Contact</a></li>
				</ul>
			</div>
			<div class="col-sm-4">
				<ul class="list-inline text-center">
					{% for social in site.data.social %}
					<li>
						<a href="{{social.link}}{{social.id}}" target="_blank" title="{{social.name}}">
							<i class="fa fa-{{social.icon}} fa-2x"></i>
						</a>
					</li>
					{% endfor %}
				</ul>
			</div>
			<div class="col-sm-4 col-sm-pull-8 text-center small">
				&copy; Copyright 2014 {{site.title}}
			</div>

		</div>

	</div>

</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap.min.js"></script>
<script src="/js/theme.js"></script>
<script src="/js/parallax.js"></script>